html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Josefin Slab", serif;
  font-weight: 500;
}

.search-header {
  font-size: 4rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: lightblue;
}

.search-header-link:hover {
  text-decoration: underline;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  margin: 2rem auto;
}

#search-area {
  width: 30vw;
  height: 10vh;
  font-size: 2rem;
  margin: 3rem auto;
}

.submit-button {
  font-size: 2rem;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Josefin Slab", serif;
  font-weight: 500;
}

body {
  background-color: #111;
}

.header {
  font-size: 5.2rem;
  margin: 3rem auto;
  text-align: center;
}

.top-rated {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}

.character-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90vw;
  background-color: white;
  margin: 1rem auto;
  padding: 3rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character-card {
  height: 65vh;
  width: 20vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}

.character-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.poster {
  width: 100%;
  height: 100%;
}

.character-card-back {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
}

.character-card-header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;
  text-align: center;
}

.score-box,
.release-box {
  text-align: center;
}

.character-genres {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character-genre {
  list-style: none;
}

.user-score {
  font-size: 2rem;
}

.release-date {
  font-size: 2rem;
}

.character-card:hover .character-card-front {
  z-index: 1;
}

.character-card:hover .character-card-back {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test {
  color: black;
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */